[Unit]
Description=Stock Market Application Service
After=network.target

[Service]
User={{ ansible_facts['distribution'] == 'Amazon' | ternary('ec2-user', 'ubuntu') }}
ExecStart=/usr/bin/java -jar /home/{{ ansible_facts['distribution'] == 'Amazon' | ternary('ec2-user', 'ubuntu') }}/stockprice/your-application.jar
WorkingDirectory=/home/{{ ansible_facts['distribution'] == 'Amazon' | ternary('ec2-user', 'ubuntu') }}/
Restart=always

[Install]
WantedBy=multi-user.target
